*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body{
    background: #fff;
    color: #000;
}

#dark-and-light-mode{
    display: flex;
    flex-direction: row-reverse;
}

header > div > button{
    margin-top: 50px;
    margin-right: 50px;
    padding: 10px;
}

 /* Centering elements */
.hero, header > h1{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Form styles */
form{
    width: 90%;
    max-width: 600px;
}
.input-group{
    margin-bottom: 10px;
}

/* Input and textarea styles */
input, textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid #000;
    font-size: 15px;
}

/*Button styles*/
#submit{
    width: 100%;
    padding: 10px;
    background-color: black;
    color: #fff;
    visibility: visible;
    
}

.dark-mode{
    background-color: black;
    color: white;
    input, textarea{
        background-color: black;
        border: 1px solid white;
        color: white;
    } #submit{
        background-color: white;
        color: black;
    }
} 
