body {
    background: #fff;
    color: #000;
    padding: 25px;
    font-family: sans-serif;
  }
  body header h1{
     position: absolute;
     top: 0%;
     left: 50%;
  }
.input-group{
    margin-top: 10px;
    margin-bottom: 10px;
    
}


input {
    background-color: white;
    border-radius: 5px;
    border-width: 1px;
    color: black; 
    font-size: 15px;
    height: 20px;
    margin: 0px;
    margin-top: 10px;
    padding: 5px 5px 5px 5px;
    width: 99%;
   
}
#content{
    height: 100px;
}


button {
    background-color: #000;
    border-radius: 3px;
    border-width: 1px;
    color: #fff;
    font-size: 1.1em;
    height: 45px;
    line-height: 20px;
    margin: 0;
    margin-top: 10px;
    max-width: 100%;
    padding: 8px 8px 8px 8px;
    width: 100%;
  }