*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body{
    background: #fff;
    color: #000;
}
.hero, header, h1{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
form{
    width: 90%;
    max-width: 600px;
}
.input-group{
    margin-bottom: 10px;
}
input, textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid #000;
    font-size: 15px;
}
#submit{
    width: 100%;
    padding: 10px;
    background-color: #000;
    color: #fff;
    
}